@media (max-width:767px){

.services-sec > div > h3 a{
    font-size: 14px;
    line-height: 26px;
}
.services-sec ul li figcaption p {
    font-size: 13px;
}
.services-sec ul li figcaption {
    padding: 20px 10px;
}
.services-sec ul li figcaption .middle-sec {
    min-height: auto;
}
.bottom-header .container-fluid {
    padding: 0px;
}
.bottom-header .menu-sec ul li a img {
    margin-right: 0px;
    max-width: 8px;
    float: right;
	    margin-left: 40px;
}
.bottom-header .menu-sec ul li .split1::after {
    background: url(../images/split.png);
    background-position:-7px -16px;
    background-repeat: no-repeat !important;
    width: 30px;
    content: "";
    height: 30px;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0px;
}
.menu-sec ul > li  .split2::after {
    background-position: -42px -15px !important;
	background: url(../images/split.png);
	background-repeat: no-repeat !important;
	width: 30px;
	content: "";
	height: 30px;
	display: inline-block;
	position: absolute;
	left: 0;
	top: 0px;
}
.menu-sec ul > li .split3::after {
    background-position: -84px -13px !important;
		background: url(../images/split.png);
	background-repeat: no-repeat !important;
	width: 30px;
	content: "";
	height: 30px;
	display: inline-block;
	position: absolute;
	left: 0;
	top: 0px;

}
.menu-sec ul > li .split4::after {
    background-position: -126px -12px !important;
		background: url(../images/split.png);
	background-repeat: no-repeat !important;
	width: 30px;
	content: "";
	height: 30px;
	display: inline-block;
	position: absolute;
	left: 0;
	top: 0px;

}
.menu-sec ul > li .split5::after {
    background-position: -172px -14px !important;
    background: url(../images/split.png);
    background-repeat: no-repeat !important;
    width: 45px;
    content: "";
    height: 30px;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0px;
}
.bottom-header .menu-sec ul li.active .split1::after {
    background-position: 2% 54% !important;
}
.bottom-header .menu-sec ul li.active .split3::after {
    background-position: 32% 54% !important;
}
.bottom-header .menu-sec ul li.active .split4::after {
    background-position: 47% 56% !important;
}
.bottom-header .menu-sec ul li.active .split5::after {
    background-position: 66% 54% !important;
}

.bottom-header .menu-sec ul li {
    width: 21%;
    position: relative;
    vertical-align: middle;
    display: inline;
    float: left;
}
.bottom-header .menu-sec ul li a {
    padding: 0px;
    transition: 0.5s;
    font-size: 0px;
    line-height: 17px;
}
.bottom-header .menu-sec {
    width: 100%;
    float: left;
}
.bottom-header .menu-sec ul li:last-child {
    width: 15%;
}
.bottom-header .menu-sec ul li.active  a::after {
background-position: 15% 54% !important;
}


.navbar-default .navbar-toggle {
    border-color: transparent;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-toggle {
    border: none;
	    margin-right: 0px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}


.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-toggle .icon-bar+.icon-bar {
    margin-top: 7px;
}


.navbar-toggle .icon-bar {
    display: block;
    width: 40px;
    height: 2px;
}


.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
    border: none;
}


.navbar-collapse {
    box-shadow: inset 0 0px 0 rgba(255,255,255,.1);
}


header ul.nav.navbar-nav {
    width: 100%;
    float: right;
    text-align: left;
}

header ul.nav.navbar-nav li {
    text-align: left;
    float: none;
    display: inline-block;
    margin: 10px -15px;
    width: 100%;
}

header ul.nav.navbar-nav li.order-now a {
    text-transform: capitalize;
    border: none;
}
.navbar-nav {
    margin: 0px;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #fff;
}

.choose-pack ul li.item .top-bar1 {
    left: 0px;
    max-width: 100%;
}

.choose-pack ul li.item .middle-sec {

    padding: 12px 9px;
}

.choose-pack h3 {
    margin-bottom: 30px;
    margin-top: 10px;
}

footer {
    position: fixed;
    bottom: 0px;
    z-index: 9;
    background: #fff;
    left: 0;
    right: 0;
}



.services-sec ul li {
	margin: 0px 0px;
    margin-bottom: 20px;
}

.choose-pack {
    padding-bottom: 80px;
}
.choose-pack ul li.item {
    margin: 0px 0px;
    height: auto;
    max-width: 100%;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.choose-pack ul li.item .middle-sec {
    min-height: auto;
}


.choose-pack > div > ul > li:nth-child(2) {
    height: auto;
	    top: 0px;
}
.choose-pack > div > ul > li:nth-child(2) .middle-sec {
    min-height: auto;
}

thead.month-week tr th {
    font-size: 9px;
}

.date-time-page {
    padding: 30px 0;
    padding-bottom: 110px;
}

.common-head a {
    margin-right: 20px;
}

.book-page .book-inner h6 {
    font-size: 15px;
	    margin: 0px;
}


.book-page {
    padding: 30px 0;
    padding-bottom: 100px;
}

.check-box {
    font-size: 14px;

}


.user-detail figure {
    width: 70px;
    float: left;
}
input[type="checkbox"] {
    left: 0px;
}


.book-inner .form-group input.card-detail {

    background-position: 10% 50%;
}

.paypal-inner figcaption {
    padding: 21px 10px;
}
}
@media(max-width:374px){

ul.photo-take li {
    width: 88px;
    line-height: 45px;
    margin: 8px 2px;
}
.services-sec ul li figcaption h3 {
    font-size: 15px;
}
.services-sec ul li figcaption p {
    font-size: 13px;
    min-height: 60px;
}


.chose-btn {
font-size: 14px;
width: 90%;
}

.middle-sec h6 {
    font-size: 16px;
    margin-top: 6px;
    margin-bottom: 10px;
}
.middle-sec ol li::before {

    background-size: 18px;
}
}
@media(min-width:374px) and (max-width:767px) {
    .chose-btn {
        width: 230px;
    }

    ul.photo-take li {
        margin: 8px 3px;
    }
}
@media(min-width:768px) and (max-width:991px) {
header ul.nav.navbar-nav li a {
    padding: 4px 12px;
}



.bottom-header .menu-sec ul li a {
    padding: 10px 3px;
    font-size: 10px;
}

.bottom-header .user-sec img {
    height: 35px;
}


.bottom-header figure {
    width: 35px;
    height: 35px;
}


.bottom-header .user-sec figcaption {
    width: 70%;
    margin-left: 6px;
    margin-top: 10px;
    font-size: 13px;
}

.bottom-header .menu-sec ul li a img {
    margin-right: 14px;
    width: 8px;
}

.price-sec h5 {
    font-size: 16px;
}
}

@media(min-width:992px) and (max-width:1024px) {
.bottom-header .menu-sec ul li a {
    padding: 10px 6px;
    font-size: 14px;
}
.bottom-header figure {
    width: 40px;
    height: 40px;
}
.bottom-header .user-sec img {
    height: 40px;
}
.bottom-header .menu-sec ul li a img {
    width: 10px;
}
.choose-pack ul li.item {
    width: 290px;
}
.choose-pack ul li.item .top-bar1 {
    left: 0px;
    width: 100%;
}
.services-sec ul li {
    width: 290px;
}
}
@media(min-width:1025px) and (max-width:1200px) {
.bottom-header .menu-sec ul li a {
    padding: 10px 6px;
    font-size: 14px;
}
.bottom-header figure {
    width: 40px;
    height: 40px;
}
.bottom-header .user-sec img {
    height: 40px;
}
.bottom-header .menu-sec ul li a img {
    width: 10px;
}
.choose-pack ul li.item {
    width: 290px;
}
.choose-pack ul li.item .top-bar1 {
    left: 0px;
    width: 100%;
}
.services-sec ul li {
    width: 290px;
}
}