<section class="book-page">
    <div class="container"> 
        <h3 class="common-head"><a href="@Url.Action("Index","Book")"><i class="fa fa-angle-left" aria-hidden="true"></i></a>You have input data that can be considered HOSTILE !!</h3>
        <div class="book-inner text-left">
            <p>Entering the following combinations of characters can have a negative impact if used in wrong context. </p>
            <ul class="text-left">
                <li>&lt;[a-zA-Z]</li>
                <li>&lt;?, &lt;/, &lt;!</li>
                <li>&#</li>
            </ul>
            <p>Due to this issue please hit back button and try again.</p>
        </div>
    </div>
</section>